@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 222, 228, 230;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  font-style: italic;
  text-decoration: underline;
  color: rgb(8, 107, 122);
}

code, pre, a {
  white-space: pre-wrap;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
}

#nprogress .bar {
  background: #036498 !important;
}
